<br /> 
<fieldset> 
    <legend> Create A Workout! </legend> 
        <%= form_for @workout do |workout_form| %> 

            <%= workout_form.label :name %> 
            <%= workout_form.text_field :name %> 

            <br /> 
            <br /> 
            
            <%= workout_form.label :description %> 
            <%= workout_form.text_field :description %>

            <br /> 
            <br /> 

            Choose Exercise(s): <%= workout_form.collection_select :exercise_ids, Exercise.all, :id, :name, {}, {multiple: true}%>

            <br /> 
            <br /> 
            <br /> 

            Add a Custom Exercise:
            <%= workout_form.fields_for :exercises, @workout.exercises.build do |exercise| %> 
                <p>
                <%= exercise.label :name %> 
                <%= exercise.text_field :name %>
                </P>
            <% end %> 

            <%= workout_form.submit %> 
        <% end %> 
</fieldset>