<br /> 
<div>
<h3>Filter Workouts:</h3>
<%= form_tag("/workouts", method: "get") do %>
    <%= select_tag "exercise", options_from_collection_for_select(@exercises, "id", "name"), include_blank: true %>
    <%= submit_tag "Filter" %>
<% end %>
<br />
<fieldset> 
<legend> Workout Summary </legend> 
Name: <%= @workout.name %> 
<br />
Description: <%= @workout.description %> 
<br />
Creator: <%= @workout.creator %> 
</fieldset>

<fieldset> 
<legend> Exercises </legend>
    <% @workout.exercises.each do |e|  %>
        <li>  <%=link_to  e.name, exercise_path(e) %> </li>
    <% end %> 
</fieldset>
<br /> 

<% if !logged_in? %>
    Signup today to get started on your fitness journey!
<% elsif  @workout.creator == current_user.username %> 
    <%= link_to 'Edit Workout', edit_workout_path(@workout) %>
<% end %> 