<h1> Welcome <%= @user.first_name %> </h1> 

<fieldset>
<legend> <%= "#{@user.first_name}'s Basic Info" %> </legend>
    <p> First Name: <%= @user.first_name %> </p>
    <p> Last Name: <%= @user.last_name %> </p> 
    <p> Email: <%= @user.email %> </p>
</fieldset> 

<br />
<br />

<fieldset>
<legend> <%= "#{@user.first_name}'s Stats" %> </legend>
    <p> Bio: <%= @user.bio %> </p>
    <p> Birthday: <%= @user.birthday %> </p> 
    <p> Height (in): <%= @user.height_inches %> </p>
    <p> Weight (lbs): <%= @user.weight_pounds %> </p>
</fieldset> 

<br />
<br />

<fieldset>
<legend> <%= "#{@user.first_name}'s Workouts" %> </legend>
    <% if @user.workouts.empty? %>
        You don't have any workouts yet! Hit the button below to get working!
        <% else %> 
            <% @user.workouts.each do |workout| %> 
                <p>
                <div style="float: left; width: auto;"> <%= link_to workout.name, workout_path(workout) %>
                <br />
                Description: <%= workout.description %>
                <br />
                Exercises: <% workout.exercises.each do |exercise| %> 
                                <%= exercise.name %> 
                            <% end %> 
                </p>
                <br />
            <% end %> 
    <% end %>
</fieldset> 
<br />
<br />
<%= button_to "Create Your Own Workout", new_user_workout_path(@user), method: :get  %> 

