<h1> Welcome <%= @user.first_name %> </h1> 

<fieldset>
<legend> <%= "#{@user.first_name}'s Stats" %> </legend>
    <p> First Name: <%= @user.first_name %> </p>
    <p> Last Name: <%= @user.last_name %> </p> 
</fieldset> 

<br />
<br />

<fieldset>
<legend> <%= "#{@user.first_name}'s Workouts" %> </legend>
    <% @workouts.each do |workout| %> 
        <p>
        <div style="float: left; width: auto;"> <%= link_to workout.name, workout_path(workout) %></div> <%= button_to "Remove Workout" , workout_path(workout), method: :delete %>  
        </p>
        <br />
    <% end %>
</fieldset> 
<br />
<br />
<%= button_to "Create Your Own Workout", new_workout_path, method: :get  %> 

<% if false %> 

<p>
<%= f.label :bio %> 
<%= f.text_field :bio %>
</p>


<p>
<%= f.label :birthday %> 
<%= f.text_field :birthday %>
</p>

<p>
<%= f.label :email %> 
<%= f.text_field :email %>
</p>

<p>
<%= f.label :height_inches, "Height (Inches)" %> 
<%= f.text_field :height_inches %>
</p>

<p>
<%= f.label :weight_pounds, "Weight (Pounds)" %> 
<%= f.text_field :weight_pounds %>
</p>

<p>
<%= f.label :weight_pounds, "Weight (Pounds)" %> 
<%= f.text_field :weight_pounds %>
</p>

<% end %> 
